.App,
select,
input,
option,
div,
h3,
ul,
li,
img,
span,
i {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
}

.App {
  font-family: "Nunito Sans", sans-serif;
}

/* HEADER STYLES */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
}

div.mode-selector {
  font-weight: 300;
  font-size: 0.8rem;
}

span.moon {
  margin-right: 0.3rem;
  font-size: 0.6rem;
}

/* 
* MAIN CONTENT STYLES 
*/

#main {
  position: relative;
  top: 0;
  padding: 3.5vw 5vw;
  font-size:14px;
}

.container {
  position: absolute;
  top: 10.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}

/* Color Theme Styles */

div[id="header"].light,
div[id="basic-country-card"].light,
div[id="search-bar"].light,
div[id="region-selector"].light div {
  background-color: hsl(0, 0%, 100%);
}

div[id="search-bar"].light span,
input[id="search"].light,
input[id="search"].light::placeholder
{
 color:hsl(0, 0%, 52%);
 background-color: hsl(0, 0%, 100%);
}

button[id="btn-back"].light,
div[id="country-card"].light button {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
}

div[id="header"].dark,
div[id="basic-country-card"].dark,
div[id="search-bar"].dark,
div[id="region-selector"].dark div {
  background-color: hsl(209, 23%, 22%);
}

input[id="search"].dark,
input[id="search"].dark::placeholder,
button[id="btn-back"].dark,
div[id="country-card"].dark button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
}
