body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Initial colour theme = Dark Mode */
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

/* Color Theme Styles */

body.light{
  background-color:hsl(0, 0%, 98%);
  color:hsl(200, 15%, 8%);
}

body.dark{
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}